.content-info {
  display: grid;
  grid-template: 1fr / auto 1fr;
  grid-gap: 1px 42px;
}

.info-item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 190.5%;
  color: #333333;
}

.info-item-value {
  font-style: normal;
  font-size: 14px;
  line-height: 190.5%;
  color: #333333;
}

.info-item-link,
.table-item-link {
  color: rgba(81, 129, 184, 1) !important;
  text-decoration: underline;
}

.column-card-timezone {
  padding-bottom: 31px;
}

.blank-item {
  color: #C1C1C1;
}

.info-item-value>.info-item-link {
  position: relative;
  /* left: 20px; */
}

.info-item-generate {
  position: relative;
  top: -5px;
}

.info-item-generate>.info-item-link:first-child {
  margin-right: 20px;
}

.column-card-notifications {
  padding-bottom: 39px;
}

.card-content-notifications {
  margin-top: 4px;
}

.notifications-table {
  margin-top: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template: repeat(4, auto) / 1fr 65px 65px;
  border: 1px solid #E2E7EF;
  box-sizing: border-box;
  border-radius: 2px;
}

.linker-table {
  margin-top: 10px;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
  grid-template: repeat(3, auto) / minmax(auto, 154px) minmax(200px, 1fr) minmax(auto, 182px);
  box-sizing: border-box;
  border: 1px solid #E2E7EF;
  border-radius: 2px;
  border-collapse: collapse;
  table-layout: fixed;
}

.notifications-table .table-item {
  height: unset;
  min-height: 34px;
  word-break: normal;
  justify-content: center;
}

.notifications-table>.table-item:nth-child(1),
.notifications-table>.table-item:nth-child(3n+4) {
  padding-left: 9px;
  justify-content: unset;
}

.linker-table .table-item {
  height: unset;
  min-height: 34px;
  word-break: normal;
  padding-left: 9px;
}

.notifications-table>.table-item:not(:nth-child(3n)),
.linker-table>.table-item:not(:nth-child(3n)) {
  border-right: 1px solid #E2E7EF;
}

.notifications-table>.table-item:nth-child(10),
.notifications-table>.table-item:nth-child(11),
.notifications-table>.table-item:nth-child(12),
.linker-table>.table-item:nth-child(7),
.linker-table>.table-item:nth-child(8),
.linker-table>.table-item:nth-child(9) {
  border-bottom: none;
}

.linker-table>.table-item:nth-child(3n) {
  padding-left: 0;
  justify-content: center;
}

.table-item {
  font-style: normal;
  font-size: 14px;
  line-height: 190.5%;
  color: #333333;
}

.column-card-linker {
  padding-bottom: 39px;
}

.column-card-linker .column-card-header {
  border-bottom: none;
  padding-bottom: 0;
}

.column-card-linker .card-content {
  padding-top: 4px;
}

.column-card-user {
  padding-bottom: 29px;
}

.mobile-notification {
  display: none;
}

.table-item-link-mobile {
  display: none;
}

@media (max-width: 1024px) {
  .linker-table {
    /* grid-template: auto auto auto / repeat(3, auto); */
  }

  .info-item-generate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
}

@media (max-width: 768px) {
  .column-card-notifications {
    padding-bottom: 28px;
  }

  .column-card-linker {
    padding-bottom: 28px;
  }

  .linker-table-actions {
    display: none;
  }

  .linker-table-service>.table-item-title {
    display: flex;
    flex-direction: column;
    height: unset;
  }

  .table-item-link-mobile {
    display: block;
  }

  .linker-table {
    grid-template: repeat(3, auto) / minmax(auto, 154px) minmax(147px, 1fr);
  }

  .linker-table>.table-item:nth-child(3n) {
    display: none;
  }

  .linker-table>.table-item:nth-child(3n + 4) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 425px) {

  .content-info {
    grid-template: min-content / 1fr;
    grid-gap: 0;
  }

  .column-card-user {
    padding-bottom: 20px;
  }

  .card-content-notifications {
    display: none;
  }

  .mobile-notification {
    display: flex;
    justify-content: space-between;
  }

  .notifications-child {
    max-width: 200px;
  }
}