::-webkit-scrollbar {
  display: none;
}

body {
  font-family: HelveticaNeueCyr;
  padding-bottom: 86px;
  overflow-x: hidden;
}

.popup-checkbox,
.popup {
  display: none;
}

button,
button:hover,
a,
a:hover {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.mobile {
  display: none;
}

.header {
  height: 110px;
  background: #edf0f5;
  display: flex;
  align-items: center;
}

.header-content {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header-button {
  width: 120px;
  height: 40px;
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 2px;
  background: transparent;
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  color: #333333;
}

.header-logo-wrapper,
.popup-menu-logo {
  display: flex;
  align-items: center;
}

.header-title {
  margin-left: 11px;
  font-family: MADE Tommy Soft;
  font-style: normal;
  font-weight: 900;
  font-size: 27px;
  line-height: 34px;
  color: #333333;
}

.main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.main-content {
  width: 100%;
  max-width: 1200px;
  padding-top: 43px;
}

.page-title {
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 125%;
  text-align: start;
  text-transform: uppercase;
  color: #333333;
}

.main-columns {
  margin-top: 31px;
  display: flex;
}

.menu-item {
  max-width: 218px;
  width: 218px;
  height: 69px;
  padding-left: 35px;
  display: flex;
  align-items: center;
  background: white;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  color: #333333;
  transition: 0.2s ease all;
}

/* .menu-item:hover {
  background: #f5f6f8;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  transition: 0.2s ease all;
} */

.menu-item-active {
  background: #eef1f7;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.menu-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  color: #333333;
  text-decoration: none;
}

.main-column {
  width: 100%;
  padding: 20px 20px 10px;
  background: #eef1f7;
  border-radius: 8px;
  border-top-left-radius: 0;
}

.column-card {
  margin: 10px 10px 20px;
  padding: 28px 35px 34px;
  background: #ffffff;
  box-shadow: 10px 10px 30px rgba(207, 212, 222, 0.95);
  border-radius: 8px;
}

.column-card-header {
  width: 100%;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e2e7ef;
}

.column-card-title {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 145%;
  color: #333333;
}

.card-header-buttons {
  display: flex;
  justify-content: space-between;
}

.yellow-button {
  min-height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #ffd600;
  border: 1.5px solid #ffd600;
  box-sizing: border-box;
  border-radius: 2px;
  font-style: normal;
  font-weight: 550;
  font-size: 14px;
  letter-spacing: -0.3px;
  line-height: 14px;
  text-align: center;
  color: #333333;
}

.card-button {
  transition: 0.2s ease all;
}

/* .card-button:hover {
  background: transparent;
  transition: 0.2s ease all;
} */

.card-button-edit {
  padding: 5px 13px 5px 9px;
  margin-left: 14px;
}

.card-button-pencil {
  margin-right: 9px;
}

.card-content {
  padding-top: 12px;
}

.content-table {
  align-items: center;
}

.table-item-head {
  height: 37px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 190.5%;
  color: #333333;
}

.table-item {
  height: 35px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e7ef;
}

.table-item-sub {
  justify-content: center;
}

@media (max-width: 1200px) {
  .header-content,
  .main {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 1024px) {
  .menu-item {
    width: 158px;
  }

  .card-header-buttons {
    flex-direction: column;
  }

  .card-button-edit {
    margin-left: 0;
    margin: 5px 0 5px;
  }
}

@media (max-width: 768px) {
  body {
    padding-bottom: 0;
  }

  .mobile {
    display: block;
  }

  .header-button {
    display: none;
  }

  .main {
    padding: 0;
  }

  .main-menu {
    display: none;
  }

  .page-title-wrapper,
  .main-menu {
    padding: 0 15px;
  }

  .main-column {
    padding: 15px;
  }

  .column-card {
    margin: 0 0 15px;
  }

  .main-columns {
    flex-direction: column;
  }

  .menu-item {
    width: 100%;
    max-width: unset;
    border-radius: 8px;
  }

  .card-button-edit span {
    display: none;
  }

  .card-button-edit {
    min-height: unset;
    padding: 0;
    margin: 0;
    background: none;
    border: none;
  }

  .card-button-pencil {
    margin: 0;
  }

  .card-header-buttons {
    flex-direction: row;
  }

  .api-token {
    word-break: break-all;
    /* overflow: scroll; */
  }

  .popup-menu {
    display: block;
  }

  .popup-menu {
    width: 100%;
    height: 100%;
    position: fixed;
    left: -160vw;
    top: 0;
    z-index: 100;
    background: white;
    overflow-y: scroll;
    transition: 0.4s ease all;
  }

  .popup-checkbox:checked ~ .popup-menu {
    left: 0;
    transition: 0.4s ease all;
  }

  .menu-close-wrapper {
    height: 110px;
    padding: 0 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #edf0f5;
  }

  .menu-close-icon {
  }

  .popup-menu-content {
    height: 100%;
    padding: 26px 25px 36px;
    display: flex;
    flex-direction: column;
    max-height: 564px;
  }

  .popup-menu-logo {
    justify-content: center;
  }

  .popup-menu-nav {
    margin-top: 26px;
  }

  .popup-nav .menu-item {
    border-top: 1px solid #e2e7ef;
  }

  .menu-item-active {
    background: white;
  }

  .popup-menu-support {
    margin-top: auto;
    padding: 24px;
    border-top: 1px solid #e2e7ef;
  }

  .telegram-wrapper {
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  .menu-support-title {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 190.5%;
    color: #333333
  }

  .telegram-link {
    margin-left: 10px;
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 125%;
    color: #2ca3d6;
    text-decoration: none;
  }

  .telegram-logo {
    width: 30px;
    height: 30px;
  }
}

@media (max-width: 425px) {
  .header,
  .menu-close-wrapper {
    height: 41px;
  }

  .header-title {
    font-size: 15.1463px;
    line-height: 19px;
  }

  .header-logo-wrapper .header-logo {
    width: 22.44px;
    height: 22.44px;
  }

  .popup-menu-content .header-title {
    font-size: 23.7073px;
    line-height: 30px;
  }

  .popup-nav .menu-item {
    height: unset;
    padding: 12px 22px;
  }

  .menu-support-title {
    font-size: 15px;
  }

  .telegram-link {
    font-size: 20px;
  }

  .menu-item {
    font-size: 18px;
    line-height: 145%;
  }
}
